@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

body {
  background-color: #202535;
  overflow: hidden;
}

a {
  text-decoration: none;
}
